<!-- Footer -->
<footer id="site-footer" class="bg-dark text-left text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4 text-center">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text For write up -->
    <section class="mb-4 mt-3">
      <p>
        Proudly Australian. A creative, Melbourne based business. Progress is impossible without change, and those who cannot change their minds cannot change anything. Baja's mission is to help us contribute in any way we can to sustaining the planet!
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Affiliations -->
    <section class="mt-5">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase display-6">Availability</h5>
          <ul class="list-unstyled mb-0">
            <li class="mt-1"><a href="/"> <img src="/images/frontpage/hero_packaging.png" style="max-height: 9rem;" /> </a></li>
            <li class="mt-1"><a href="/"> <img src="/images/frontpage/paypal-button@2x.png" style="max-height: 2rem;" /> </a></li>
            <li class="mt-4"><a href="/"> <img src="/images/frontpage/visa.png" style="max-height: 2rem;" /> </a></li>
            <li class="mt-4"><a href="/"> <img src="/images/frontpage/applepay.png" class="rounded-corners" style="max-height: 2rem;" /> </a></li>
          </ul>
        </div>
        <!--Grid column-->

        

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase display-6">Legals</h5>
          <ul class="list-unstyled mb-0 text-white">
            <li >
              <a class="text-decoration-none text-white" href="#!">Legal Terms</a>
            </li>
            <li>
              <a class="text-decoration-none text-white" href="#!" class="text-white">Terms and Conditions of Sale</a>
            </li>
            <li>
              <a href="#!" class="text-decoration-none text-white">Personal Data Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-decoration-none text-white">General Terms of use</a>
            </li>
            <li>
              <a href="#!" class="text-decoration-none text-white">Cookies</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
          <h5 class="text-uppercase display-6">Contact</h5>
          <ul class="list-unstyled mb-0" style="vertical-align: middle;">
            <li class="text-left">
              <i class="fas fa-home me-3"></i> 560 Swan St Richmond VIC 3121
            </li>
            <li class="">
              <i class="fas fa-envelope me-3"></i>info@bajalabruja.org</p>
            </li>
            <li>
              <i class="fas fa-phone me-3"></i> +613 9849 2623
            </li>
            <li>
              <i class="fas fa-print me-3"></i> +61 459 779 324
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2022 Copyright: <a class="text-white" href="https://www.bajalabruja.org">www.bajalabruja.org</a>
</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->