<nav class="navbar navbar-expand-md navbar-dark fixed-top" aria-label="Baja La Bruja Navigation Bar">
  
  <div class="container-fluid full-width" style="background-color: #070707;">
    
    {{!-- LOGO --}}
    <a class="navbar-brand" href="/"> <img src="/images/baja_logo.png" style="max-height: 7rem;" /> </a>
    
    {{!-- TOGGLE BUTTON --}}
    <button        
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#blj-nav"
        aria-controls="blj-nav"
        aria-expanded="true"
        aria-label="Toggle Baja Navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- MENU --}}
    <div class="collapse navbar-collapse m-2" id="blj-nav">
        <ul class="navbar-nav nopadding">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/heritage">La Bruja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collections">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lifestyle">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mixedmedia">Mixed Media</a>
          </li>
          {{# unless login }}
          <li class="ms-4">
              <a href="/user/signin"></a><img class="baja-icon" src="images/login-key.png" /></a>
          </li>
          {{/unless}}
          {{# if login }}
          <li>
            <a href="/user/profile"><i class="fas fa-user" title="User Profile"></i></a>
            <a href="/user/logout"><i class="fas fa-sign-out-alt" title="Logout"></i></a>
          </li>
          {{/if}}
          <li class="ms-4">
            <a href="/shopping-cart" style="text-decoration: none;">
                <img class="baja-icon" src="images/bag.png">
                <span class="badge bg-danger">{{session.cart.qty}}</span>
            </a>
          </li>
        </ul>
      </div> {{!-- collapse navbar --}}
  </div> {{!-- container fluid navbar --}}
  {{!-- <div class="progress-container" style="position: absolute;margin-top:135px;">
    <div class="progress-bar" id="scrollerStatusBar"></div>    
  </div> --}}

</nav>


<script>
  // Used for scrolling
window.onscroll = function() {myFunction()};
function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("scrollerStatusBar").style.width = scrolled + "%";
}
</script>