<input type="hidden" value="{{messages}}">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top " aria-label="Baja La Bruja Navigation Bar">
  {{#if hasMessages}}
  <div class="alert alert-success full-width" style="z-index:1000;position:absolute">
    {{# each messages}}
      <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}
  <div class="toast align-items-center full-width" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex text-light">
      <div class="toast-body" id="toastMessage">
        {{!-- TOASTER MESSAGES HERE --}}
      </div>
      <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  
  <div class="container-fluid full-width nopadding" >
    {{!-- LOGO --}}
    <a class="navbar-brand ms-3 mb-1" href="/"> <img src="/images/baja_logo.png" style="max-height: 7rem;" alt="Baja la Bruja Logo" /> </a>
  
    {{!-- TOGGLE BUTTON --}}
    <button style="margin-top: 4rem" class="navbar-toggler position-absolute top-0 end-0 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#blj-nav"
      aria-controls="blj-nav" aria-expanded="true" aria-label="Toggle Baja Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- MENU --}}
    <div class="collapse navbar-collapse ms-3 mt-2" id="blj-nav">
      <ul class="navbar-nav nopadding">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/labruja">La Bruja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collections">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fff">About</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/mixedmedia">Mixed Media</a>
        </li> --}}
      </ul>
    </div> {{!-- collapse navbar --}}
    
    <div class="position-absolute top-0 end-0 p-3">

      {{# unless login }}
        <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><img class="baja-icon pe-2" src="/images/login-key.png" alt="Baja la Bruja Login Image" /></a>
      {{/unless}}

      {{# if login }}
        <a href="/user/profile" class="pe-2"><i class="fas fa-user" title="User Profile"></i></a>
        <a href="/user/logout"><i class="fas fa-sign-out-alt" title="Logout"></i></a>
      {{/if}}

      <a href="/#" style="text-decoration: none;">
        <img class="baja-icon" src="/images/moon-icon.png" alt="Baja la Bruja Moon Photo">
      </a>

      <a href="#" class="pe-2 ps-3" style="text-decoration: none;"> 
        {{!-- <i class="fas fa-shopping-cart " title="Shopping Cart"></i> --}}
        <img data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="baja-icon" src="/images/bag.png" alt="Baja la Bruja Shopping Bag">
        <span id="cartTotal" class="badge bg-danger">{{session.cart.qty}}</span>
      </a>
    </div>
  </div>
</nav>

{{!-- SHOPPING CART --}}
<div class="offcanvas offcanvas-end text-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Shopping Bag</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="cartList"></div>
        <div class="row justify-content-md-center ps-5 pe-5">
            <button id="btnCheckout" onclick="location.href='/checkout'" type="button" class="btn btn-outline-dark">Checkout</button>
        </div>
    </div>
</div>

{{!-- LOGIN MODAL --}}
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Baja La Bruja Login</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="formLogin">
        <div class="modal-body form-group" style="padding-top:0px; margin-top:0px">  
          <h5 id="result"></h5>
          <div class="mb-3 mt-4">
              <label for="login" class="form-label">Email</label>
              <input type="email" class="form-control" id="l" aria-describedby="login" required>
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="p">
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnLogin">Login</button>
          </form>
      </div>
      <div class="modal-footer">
        <p class="pb-2 pe-2">Not a member? <a href="#" class="text-white">SIGNUP NOW</a></p>
      </div>
    </div>
  </div>
</div>

<script>
    const imagePath = "/images/products/";
    //var template = Handlebars.compile(source);
    document.addEventListener("DOMContentLoaded", function (event) {
        fetch("/bag", (data) => {
          buildCart(JSON.parse(data));
        });
        $('#btnLogin').on('click', tryLogin);        
    });
</script>