<div style="border-bottom: 1px solid rgb(34, 34, 34);" class="full-width">
  <header class="d-flex">
    <div class="col-2 text-center"></div>
    <div class="col-8 text-center">
      <a href="/">
        <img src="/images/logo.png" style="max-height: 150px;">
      </a>
    </div>
    <div class="col-2 justify-content-end align-items-right">
      <ul class="cart-profile">
        <li><a href="#"><i class="fas fa-user text-light"></i></a></li>
        <li style="padding-left:1rem;"><a href="#"><i class="fas fa-shopping-cart text-light"></i></a></li>
      </ul>
    </div>
  </header>

  {{!---- NAVBAR ----}}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between" style="padding-left: 2rem; padding-right:2rem;">
      <a class="p-2 link-secondary text-light" href="/">Home</a>
      <a class="p-2 link-secondary text-light" href="/lifestyle">La Bruja</a>
      <a class="p-2 link-secondary text-light" href="/collections">Collections</a>
      <a class="p-2 link-secondary text-light" href="/gifts">Collaborations</a>
      {{!-- <a class="p-2 link-secondary text-light" href="/contacts">Contact Us</a> --}}
    </nav>
  </div>
</div>