{{#if hasMessages}}
  <div class="alert alert-success">
    {{# each messages}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}

<nav class="navbar navbar-expand-md navbar-dark" aria-label="Baja La Bruja navbar">
  <div class="container-fluid" style="background-color: #070707;">

    <div class="col-4 col-xl-4">
      <a href="/"> <img src="/images/baja_logo.png" style="max-height: 7rem;" /> </a>
    </div>

    <div class="col-2">
      <button
        class="navbar-toggler me-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#blj-nav"
        aria-controls="blj-nav"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse ms-3" id="blj-nav">
      <ul class="navbar-nav nopadding">
        <li class="nav-item nopadding t-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item nopadding">
          <a class="nav-link" href="/heritage">La Bruja</a>
        </li>
        <li class="nav-item nopadding">
          <a class="nav-link" href="/collections">Collections</a>
        </li>
        <li class="nav-item nopadding">
          <a class="nav-link" href="/lifestyle">About</a>
        </li>
        <li class="nav-item nopadding">
          <a class="nav-link" href="/mixedmedia">Mixed Media</a>
        </li>
        <li class="nav-item nopadding">
          <div class="row mt-4 mb-4">
            <div class="col-1">
              {{# unless login }}
                <a href="/user/signin"></a><img class="baja-icon" src="images/login-key.png" /></a>
              {{/unless}}

              {{# if login }}
                <a href="/user/profile"><i class="fas fa-user" title="User Profile"></i></a>
                <a href="/user/logout"><i class="fas fa-sign-out-alt" title="Logout"></i></a>
              {{/if}}
            </div>
            <div class="col-1 ms-5">
              <a href="/shopping-cart" style="text-decoration: none;">
              {{!-- <i class="fas fa-shopping-cart " title="Shopping Cart"></i> --}}
              <img class="baja-icon" src="images/bag.png">
              <span class="badge bg-danger">{{session.cart.qty}}</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div> {{!-- collapse navbar --}}
  </div>  {{!-- container fluid --}}
</nav>

<input type="hidden" value="{{messages}}">