<nav
  class="navbar navbar-expand-md navbar-dark"
  aria-label="Baja La Bruja navbar"
>
  <div class="container-fluid" style="background-color: #070707;">
    <a href="/"> <img src="/images/logo.png" style="max-height: 9rem;" /> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#blj-nav"
      aria-controls="blj-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="blj-nav">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lifestyle">La Bruja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collections">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gifts">Collaborations</a>
        </li>

      </ul>
      <div class="col-2">
        {{# unless login }}
          <a href="/user/signin" style="padding-right:2rem;"><i class="fas fa-sign-in-alt" title="Login"></i></a>
        {{/unless}}

        {{# if login }}
          <a href="/user/profile" style="padding-right:2rem;"><i class="fas fa-user" title="User Profile"></i></a>
          <a href="/user/logout" style="padding-right:2rem;" ><i class="fas fa-sign-out-alt" title="Logout"></i></a>
        {{/if}}
        <a href="/shopping-cart" style="text-decoration: none;">
          <i class="fas fa-shopping-cart " title="Shopping Cart"></i>
          <span class="badge bg-danger">{{session.cart.qty}}</span>
        </a>
      </div>
    </div>
  </div>
</nav>

{{!-- <div class="collapse multi-collapse" id="multiCollapseExample1" >
  <div class="card card-body">
    <ul class="navbar-nav full-width">
      <li class="nav-item">
        <a class="nav-link text-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/lifestyle">La Bruja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/collections">Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/gifts">Collaborations</a>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid full-width" style="padding-bottom:1rem;border-bottom: 1px solid #191919; background-color:#0c0c0c">
  <header class="d-flex" >
    <div class="col-2 text-center"></div>
    <div class="col-8 text-center">
      <a href="/">  <img src="/images/logo.png" style="max-height: 10rem;" /> </a>
    </div>
    <div class="col-2" style="margin-top: 2rem;">
      <a href="#" style="padding-right:rem;"><i class="fas fa-user text-light"></i></a>
      <a href="#"><i class="fas fa-shopping-cart text-light"></i></a>
    </div>
    {{! <div class="col-2 align-items-right">
      <ul class="cart-profile">
        <li><a href="#"><i class="fas fa-user text-light"></i></a></li>
        <li style="padding-left:1rem;"><a href="#"><i class="fas fa-shopping-cart text-light"></i></a></li>
      </ul>
    </div> }}
  </header>

  {{! NAVBAR }}
  <nav
    class="navbar navbar-expand-lg navbar-dark full-width"
    aria-label="Baja La Bruja Menu"
  >
    <div class="container-fluid">
      <button
        style="margin-top:-16rem"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#multiCollapseExample1"
        aria-controls="multiCollapseExample1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="nav-blb">
        <ul class="navbar-nav full-width">
          <li class="nav-item ms-5">
            <a class="nav-link text-light menu" href="/">Home</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link text-light menu" href="/lifestyle">La Bruja</a>
          </li>
          <li class="nav-item ms-5">
            <a
              class="nav-link text-light menu"
              href="/collections"
            >Collections</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link text-light menu" href="/gifts">Collaborations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> --}}