<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Baja La Bruja is an online shop for revitalized vitage and curated fashion!">

    {{!-- Font awesome --}}
    <link rel='stylesheet' href='/stylesheets/fontawesome/all.min.css' />
    <link rel='stylesheet' href='/fonts/stylesheet.css' />
    
    {{!-- Bootstrap --}}
    <link href="/stylesheets/bootstrap@5.0.2.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/javascripts/bootstrap@5.0.2.min.js"  crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="/javascripts/api.js"></script>
    
    {{!-- JQUERY --}}
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' media='screen and (max-width: 576px)' href='/stylesheets/smallscreen.css' />
  </head>
  <body>
    
    {{> header}}
    <div class="nopadding bg-image">
      <!-- Content here -->
      {{{body}}}
      {{> footer}}
    </div> 

  
  </body>
    {{!-- Image Wordplay --}}
    <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script src="/javascripts/charming.min.js"></script>
    <script src="/javascripts/scrollingletters.js"></script>
</html>