<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/fontawesome/all.min.css' />

    <link href="/stylesheets/bootstrap@5.0.2.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/javascripts/bootstrap@5.0.2.min.js"  crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/fonts/stylesheet.css' />
  </head>
  <body>
    
    {{> header}}
    <div class="container nopadding">
      <!-- Content here -->
      {{{body}}}

      {{> footer}}
    </div>
  </body>
</html> 