<div class="row p-4">
    <div class="col-6 ">
        <h2>Reset Password</h2>
        <p>Hello {{ firstName }},</p>
        <p>Please use the form below to reset your password.</p>
        <hr style="color:#a9a9a9">
        <form id="formPwReset">
                <input type="hidden" id="aId" name="aId" value="{{authToken}}" />
                <h5 id="valMessages" style="color:red"></h5>
                <div class="mb-3 mt-4">
                    <label for="newPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword1" aria-describedby="newPassword1" required>
                </div>
                <div class="mb-3">
                    <label for="newPassword2" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="newPassword2" aria-describedby="newPassword2" required>
                </div>
                <button type="button" class="btn btn-primary" id="btnReset">Reset Password</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnReset').on('click', resetPassword);        
    });

    const process = (pw1, pw2, done) => {
        var err;
        if(pw1 == "") {  
            err = "Cannot use a blank password."; 
            return done(err);  
        } 
        if(pw1.length < 6) {  
            err = "Password length must be atleast 6 characters";  
            return done(err);
        } 
        if(pw1.length > 15) {  
            err = "Password length must not exceed 15 characters";  
            return done(err);  
        }
        if(pw1 != pw2) {
            err = "Passwords do not match."
            return done(err);
        }
        return done(err);
    }

    let validate = (messages) => { 
        if(messages){ document.getElementById("valMessages").innerHTML = messages }
        else {
            console.log("NO ERROR");
            var a = document.getElementById("aId").value;

        }
    }

    const resetPassword = () => {process(document.getElementById("newPassword1").value, document.getElementById("newPassword2").value, validate)}
</script>