<div class="row">
    <div class="col-6 p-4">
        <h2>Reset Password</h2>
        <form id="formPwReset">
                <p id="result"></p>
                <div class="mb-3 mt-4">
                    <label for="newPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword1" aria-describedby="newPassword1" required>
                </div>
                <div class="mb-3">
                    <label for="newPassword2" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="newPassword2" aria-describedby="newPassword2" required>
                </div>
                <button type="button" class="btn btn-primary" id="btnReset">Reset Password</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnReset').on('click', resetPassword);        
    });

    const resetPassword = () => {
        console.log("RESET");
    }
</script>