body {


}


.bg-image {
    width: 100%;
    background: url('/images/fullmoon.png') no-repeat right fixed;
    /* background-position: 80% 68%; */


    background-position-x: center 15rem;
    background-position-y: top 10px;
    background-size: 90% auto; 
  }