body {
  font-family: 'splendid_66regular';
  background-color:black;
}

.blockSpace4 {
  padding-bottom: 4rem;
}

.card  {
  text-decoration: none;
  color:#7f7f7f;
}

.full-width {
  padding: 0;
}

.logoHeader, .logoHeader a {
  text-decoration: none;
  color:white;
  font-size: 50px;
  font-weight:500;
}

.price {
  font-weight: bold;
  font-size: x-large;
}

.nav a {
  font-size:1.6rem;
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid lightgrey;
  height: 150px;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.topSection
{
  background-image: url(/images/moon.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 6rem;
  padding:0.5rem;border-bottom: 1px solid rgb(34, 34, 34);
  margin-bottom: 10px;
}

.white {
  color:white;
}