body {
  font-family: 'splendid_66regular';
  background-color:black;
  width:100%;
}

.bjb-header{
  padding-top:1.5rem;
}

.blockSpace4 {
  padding-bottom: 4rem;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.card  {
  text-decoration: none;
  background-color: #4b4b4b;
}

.carousel {
  width: 17rem;
  background-color: black;
}

.flickity-slider {
  background-color: black;
}

.imageFloat {
  padding:2rem;
  margin-top:-3rem;
  background-image:url(/images/emily_transparent2.png);
  background-repeat: no-repeat;
  background-position:80% 18%;  /* adjust to fit your design and the image */
  background-size:22rem;
}

.logoHeader, .logoHeader a {
  text-decoration: none;
  color:white;
  font-size: 50px;
  font-weight:500;
}

.menu {
  font-size:1.6rem;
  text-decoration: none;
}



.price {
  font-weight: bold;
  font-size: x-large;
}