body {
  font-family: 'Apparel Light It';
  background-color:aliceblue;
}

.thumbnail img {
  max-width: 200px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: x-large;
}

.card  {
  text-decoration: none;
  color:#7f7f7f;
}

.nav a {
  font-size:1.6rem;
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid lightgrey;
  height: 150px;
}

.logoHeader {
  text-decoration: none;
  font-size: 50px;
  font-weight:500;
}

.blockSpace4 {
  padding-bottom: 4rem;
}

.heroText {
  top:4em;
  left:5em;
  position: absolute;
  color: whitesmoke;
}

.heroScreen{
  margin: -0px;
  padding: 0;
  position:relative;
  font-size: xx-large;
}

.heroScreen p {
  font-size: xx-large;
  font-style: italic;
  font-size: 95%;
  width: 23em;
}

.heroScreen h3 {
  font-size: 120%;
}


.navbar-brand {
  font-size: 160%;
  padding-right: 2rem;
  font-family: 'Apparel Display Bold It';
}


