.arrow {
  background: none;
}

.arrows {
  background: none;
  
}

.arrow_next {
  background: none;
  color:aliceblue;
}

.arrow_prev {
  background: none;
  color:aliceblue;
}

.era-carousel-progress {
  background: #000;
}

.era-carousel-progress-bar {
  background: #FFF;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

#timeline {
  display: flex;
  background-color: #031625;
}
  
  #timeline:hover .tl-item {
    width: 100.3333%;
  }
  
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 100%;
    height: 120vh;
    min-height: 300px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  
  .tl-item:before, .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .tl-item:before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 85%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(0%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .tl-item:hover {
    width: 100% !important;
  }

  .tl-item:hover:after {
    opacity: 0;
  }

  .tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }

  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
  
  .tl-item:hover .tl-bg {
    filter: grayscale(0);
  }
  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: justify;
    margin: 4.5rem 0.918em;
    top: 5%;
    opacity: 0;
  }
  
  .tl-content h1 {
    font-family: 'splendid_66regular';
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
  }
  
  .tl-year {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%) translateY(10%);
    z-index: 1;
    border-top: 1px outset silver;
    border-bottom: 1px dashed silver;
  }

  .tl-year p {
    font-family: 'splendid_66regular';
    font-size: 1.728rem;
    line-height: 0;
  }

  .tl-year h2 {
   text-align: center;
   padding: 0.3rem;
  }
  
  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(20%);
  }