<style>
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
 max-width: auto;
  max-height: 100%;
  opacity: 0.25;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

</style>


<div>
    <img src="/images/portrait.jpg" id="bg" alt="">
</div>





<div class="container g-0">
    <div class="row justify-content-md-center ">
        <div class="col-12 full-width" style="font-size:1.4rem">
            <h1 class="sectionHeader text-center text-light ps-2" style="font-size:3rem;">La Bruja</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-xs-12 col-lg-4 col-md-12 p-3 ps-4">
            <p class="display-6">
                Women have been crucified and vilified for centuries. From witch hunts to slut shaming, the sacred
                nature of womanhood has been slain, to the detriment of all.
            </p>
            <p class="display-6">
                I believe there exists the creatrix and healer in every woman. We hold incredible power.
            </p>
            <p class="display-6">
                Attempts to assassinate our character, to objectify us, to domesticate our wild nature, seem like an
                eternal threat.
            </p>
            <p class="display-6">
                In the West, the word ‘witch’ has an immediate negative connotation for most. It is associated with
                wickedness and black magic. The word is used as a derogative, to shame and diminish women.
            </p>
            <p class="display-6">
                In Spanish, the word ‘bruja’ (pronounced broo-ha) has a more mystical and shamanic association. A woman
                whom is deeply connected to herself, and the world around her. A practitioner of natural medicine.
                Although also used to disempower and denigrate, my experience of the word has been that of mystery and
                intrigue.
            </p>
            <p class="display-6">
                The name of my business was inspired by the photo below.
            </p>
        </div>

        <div class="col">
            <div class="g-0 col-12 col-sm-12 col-lg-2 col-md-12 col-lg-10">
                <figure class="figure">
                    <img src="/images/bruja_heritage.jpg" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-center">‘Baja La Bruja’ translates to ‘Lower The Witch!’</figcaption>
                </figure>
            </div>
        </div>


        <div class="col col-12 col-sm-12 col-xs-12 col-lg-10 col-md-12 p-3 ps-4 ">
            <p class="display-6">A command to the world to release women from the metaphorical stake, to which we
                are violently bound. An invitation to revere and celebrate us, rather than to shame and discriminate
                against us. </p>
            <p class="display-6">May we, as women, remember the divine nature of our being and the important role
                we play as nurturer to ourselves, each other and to the earth. We are connected through a global
                sisterhood and can strive to support one another through sharing and community. I encourage all women to
                embrace the inherent beauty of their sacred femininity. </p>
        </div>
    </div>
</div> 