<style>
  h2 {color:white;}
  #content {list-style-type:none;}
  #content li {padding-bottom: 5rem;}
  #content p {padding-left: 1rem}
  .menu {}
</style>

<div class="row justify-content-md-center">
    <div class="col" style="font-size:1.4rem">
        <h1 class="sectionHeader text-center text-light" style="font-size:3rem;padding:1rem;">Heritage</h1>
    </div>
</div>
<div id="list_top" class="row">

        <a class="menu" href="#anchor32">That 70s tho!</a>
        <a class="menu" href="#anchor31">80s Dream Queen</a>
        <a class="menu" href="#anchor33">90s Like Nieve</a>
        <a class="menu" href="#anchor34" style="padding-bottom: 2rem;">Are you Y2Kray?</a>

    
    <div class="col-md-8 p-3 text-light" style="font-size:1.4rem; text-decoration:none;" >
        <ul id="content">
            <li><h2 id="anchor32">That 70s tho!</h2><p>Disco! Activism! Disco! </p><p>Fashion in the 1970s had two leading inspirations: 1940’s movie star glamour; and the hippie movement - where flower power represented the non-violent and passive resistance of war.</p><p>30s-50s vintage was popular and often paired with typical 70s pieces.</p><p>A saying of this era’s fashion is ‘tight on the top, loose on the bottom’ - think skin tight turtleneck and palazzo pants. Layering pants under tunics and blouses with vests. It was the decade of hot pants and rompers, frayed jeans and fringed suede jackets, maxi dresses and mini skirts.</p> <p>Stars like Cher and Iman were celebrating individuality and the joy of diversity. Glitter glam rock vs bohemian chic battled on the runways!</p><p style="float:right"><a href="#list_top">[Back to Top]</a></p><button type="button" class="btn btn-primary btn-lg">Browse Our 70s Colletion! </button></li>
            <li><h2 id="anchor31">80s Dream Queen</h2><p>From the doo, to the do not, the 80s are known for a love of leopard print, lycra, power suits, punk and shoulder pads. Drawing inspiration from the Edwardian and Art Deco vogue, the balloon and puff sleeves were donned on formal and casual garments alike.<p/><p>With icons like Madonna, Grace Jones and Lady Di inspiring, en mass in the 80s, these meticulous metallics, street-athlete and bold colour block trends have been working their way back onto the runways. </p><p style="float:right"><a href="#list_top">[Back to Top]</a></p><button type="button" class="btn btn-primary btn-lg">Browse Our 80s Colletion! </button></li>
            <li><h2 id="anchor33">90s Like Nieve</h2><p>Campbell. When I think of 90s, I think of Neve, not Naomi. In a time when the supermodels reigned supreme, fashion was taken to new heights thanks to the divine beauty of models like Claudia Schiffer, Christy Turlington, Kate Moss and Naomi Campbell. Yet, it was the everyday looks that really captured the raw and rebellious 90s vibe. Denim jackets and berets were wardrobe essentials.  Tanks were worn over tees, leather was met with lace and velvet, sundresses were coupled with socks and vests, whilst slinky pastel slips were effortlessly paired with contrasting heavy, black dr martins for the gracious grunge girl.</p><p style="float:right"><a href="#list_top">[Back to Top]</a></p><button type="button" class="btn btn-primary btn-lg">Browse Our 90s Colletion! </button></li>
            <li><h2 id="anchor34">Are you Y2Kray?</h2><p>Thank you Brittney, Christina, J-Lo, Paris and Shakira! With groups like The Spice Girls, Destiny’s Child and TLC in full feminine force, many of us embraced the exposed and embellished belly button, hipster flares and double denim. We learnt choreographed dances and ironed our hair dead straight.  Crop tops and tartan micro skirts were coupled with butterfly clips, choker chains and platform shoes. More glitter was always the goal!</p><p class="text-right"><a style="float:right;" href="#list_top">[Back to Top]</a></p><button type="button" class="btn btn-primary btn-lg">Browse Our 00s Colletion! </button></li>
        </ul>
    </div>
</div>


