<style>
.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  height: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

</style>

<div class="container">
    <div class="centered-element">
      <h2 class="text-light Absolute-Center">Coming soon.</h2>
    </div>
</div>


{{!-- <div class="container-fluid text-light p-4 y-5">
    <div class="row full-width">
        
    </div>
</div> --}}