<style>
    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .fullscreen-bg__video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 60%;
    }
</style>


    
</div>
<div class="container-fluid text-light bg-image">
    <div class="row full-width">
        <div class="col-lg-8" style="height:27rem;margin-top:3rem;">
            <h2 class="display-3 mb-3" style="line-height: 1">Curated Vintage.Revived Styles.</h2>
            <h4 class="mb-5 text-light">With a focus on locally sourced, Australian Made items, this Melbourne based boutique caters to women with an appreciation for quality garments, whilst offering iconic pieces of Australia’s fashion history.  </h4>
            <h4 class="mb-5 text-light">Style does not have to come at the expense of another human being, nor the environment!</h4>
            <h4 class="mb-5 text-light">Support sustainability - our voices are being heard with every dollar we spend.</h4> 
            <a class="btn btn-light" href="/collections">Discover more</a>
        </div>
        <div class="col-lg-4">
            <div class="fullscreen-bg" >
                <video muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
                    <source src="/images/BLB-promo.mov" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="row full-width" >
        <h2>The Baja Eras</h2>
        <section id="timeline">
            <div class="tl-item">
                <div class="tl-bg" style="background-image: url(/images/decade60.jpeg)"></div>
                <div class="tl-year">
                    <h2>1960's</h2>
                </div>
                <div class="tl-content">
                    <h1>Savy Sixties</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                </div>
            </div>

            <div class="tl-item">
                <div class="tl-bg" style="background-image: url(/images/decade70.jpeg)"></div>
                <div class="tl-year">
                    <h2>1970s</h2>
                </div>
                <div class="tl-content">
                    <h1 class="f3 text--accent ttu">Swinging 70s</h1>
                    <p>Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas dignissim ipsum vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla sed felis. Morbi sed nisl et arcu.</p>
                </div>
            </div>

            <div class="tl-item">
                <div class="tl-bg" style="background-image: url(/images/decade80.jpeg)"></div>
                <div class="tl-year">
                    <h2>1980s</h2>
                </div>
                <div class="tl-content">
                    <h1 class="f3 text--accent ttu">Elegant Eighties</h1>
                    <p>Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate neque sit amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at, porttitor dolor. Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros odio, egestas quis efficitur vel, pretium sed.</p>
                </div>
            </div>

            <div class="tl-item">
                <div class="tl-bg" style="background-image: url(/images/decade90.jpeg)"></div>
                <div class="tl-year">
                    <h2>1990s</h2>
                </div>
                <div class="tl-content">
                    <h1 class="f3 text--accent ttu">Naughty 90s</h1>
                    <p>Suspendisse ac mi at dolor sodales faucibus. Nunc sagittis ornare purus non euismod. Donec vestibulum efficitur tortor, eget efficitur enim facilisis consequat. Vivamus laoreet laoreet elit. Ut ut varius metus, bibendum imperdiet ex. Curabitur diam quam, blandit at risus nec, pulvinar porttitor lorem. Pellentesque dolor elit.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="row full-width" >
        <div class="col-lg-10 col-xl-8">
            <h3 class="display-5 mb-1 text-light p-5">Latest News..</h3>
            <p class="text-light text-muted mb-2">All latest new will go here</p><br><br><br>
        </div>
    </div>
</div>
