<script src="/javascripts/splide.min.js"></script>
<link rel="stylesheet" href="/stylesheets/splide.min.css">
<link rel="stylesheet" href="/stylesheets/timeline.css">
<style>
    .splide__slide img {
	    
	    max-height: 660px;
        border-radius: 5px;
    }
</style>
<div class="container ">
    <section clas="col-lg-12 col-md-12 col-xs-12 g0">
        <h1 class="display-4 fade-in-text" style="line-height: 1; margin-left:7px;">
            Curated Vintage.<br>
            Revived Styles.
        </h1>
    </section>  {{!-- Main Header Text --}} 

    <section class="mx-2">
        <div class="col-lg-8 col-md-10">
            <p class="baja-font-larger fade-in-text">Our Melbourne based boutique offers a diverse collection of quality Australian Made, women’s clothing. Locally sourced, iconic pieces of this country’s fashion history are the focus of our range.  </p>   
        </div>        
    </section> {{!-- First Paragraph Text --}} 

    <section class="mx-2">
        <p class="baja-font-larger fade-in-text">For those seeking style, sustainably.</p>
        <a class="ms-1 btn btn-primary btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/collections">Discover More!</a>
    </section> {{!-- Support Sustainability --}}

    <hr/>

    {{!-- <section class="col-12 col-sm-4 col-md-3 col-lg-2 full-width nopadding"> --}}
    <section>
        <h2 class="mx-2 fade-in-text">The Baja Eras</h2>
        <h5 class="pb-2 mx-2 fade-in-text">Traverse the eras effortlessly, with Baja la Bruja’s hand curated vintage revival.</h5>
        <section id="era-carousel" class="splide" aria-label="Baja Life" >
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="container-fluid full-width">
                            <h2>Seriously 60s</h2>
                            <img class="img-responsive" src="/images/products/seriously_60s/IMG_4190.png" style=""  />                
                            <p class="baja-font-larger">Fashion in the 1960s became progressively more casual across all genders and ages.</p>
                            <a class="btn btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/products?collectionId=30">Shop</a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div>
                            <h2>That 70s tho!</h2>
                            <img src="/images/products/that_70s_tho/IMG_4210.png" />                
                            <p class="baja-font-larger">The 1970s had two leading inspirations: 1940’s movie star glamour; and the hippie movement..</p>
                            <a class="btn btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/products?collectionId=31">Shop</a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div>
                            <h2>80s Dream Queen</h2>
                            <img src="/images/products/80s_dream_queen/IMG_4400.png" />                
                            <p class="baja-font-larger">From the doo, to the do not, the 80s are known for a love of leopard print, lycra, power suits, punk and shoulder pads!</p>
                            <a class="btn btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/products?collectionId=32">Shop</a>
                        </div>    
                    </li>
                    <li class="splide__slide">
                        <div>
                            <h2>90s like Neve</h2>
                            <img src="/images/products/90s_like_nieve/IMG_4769.png" />                
                            <p class="baja-font-larger">In a time when the supermodels reigned supreme, fashion was taken to new heights..</p>
                            <a class="btn btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/products?collectionId=33">Shop</a>
                        </div>    
                    </li>
                    <li class="splide__slide">
                        <div>
                            <h2>R U Y2Kray?</h2>
                            <img src="/images/products/RUY2Kray/IMG_4604.png" />                
                            <p class="baja-font-larger">Thank you Brittney, Christina, J-Lo, Paris and Shakira!</p>
                            <a class="btn btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/products?collectionId=34">Shop</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="era-carousel-progress">
                <div class="era-carousel-progress-bar"></div>
            </div>
        </section>
    </section>  {{!-- Eras --}}

    <hr />

    <section class="col-lg-8 col-md-10">
        <h3 class="display-5 mx-2">F#ck Fast Fashion</h3>
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <img class="img-responsive" src="/images/mixedmedia/hero.jpeg" style="width:24rem;height: auto;max-width:100%"/>
            </div>
            <div class="col mx-2">
                <p class="baja-font-larger">We say <strong>“NO!”</strong> to the endless destruction of fast fashion. </p>
                <p class="baja-font-larger"><strong>‘Perceived obsolescence’</strong> is a mentality that should be deemed obsolete, as the industry continues to follow repetitious patterns. Trends do not have to come at the expense of another human being, nor the environment.</p>
            </div>
        </div>
    </section> {{!-- Mannequin --}}

    <hr />

    <section class="col-lg-8 col-md-10">
        <h3 class="display-5 mx-2">Latest News</h3>
        <section >
            <h5 class="font-weight-bold mx-3">June 24 10:21pm</h5>
            <video class="videoControl" controls="controls" src="videos/shopbuild3.mov#t=0.1">
            Your browser does not support the HTML5 Video element.
            </video>
            <p class="mb-5 mx-2">Final touches. When you don’t have the right tool for the job, but the show must go on! </p>
        </section>
        <section>
            <h5 class="font-weight-bold mx-3">June 18 12:55pm</h5>
                <video class="videoControl" controls="controls" src="videos/shopbuild2.mov#t=0.1">
                Your browser does not support the HTML5 Video element.
                </video>
                <p class="mb-5 mx-2">Tag making 101 - don’t forget to factor in the air pressure from can 🙄 #spraypaintnoob </p>
        </section>
        <section>
            <h5 class="font-weight-bold">June 10 07:43pm</h5>
                <video class="videoControl" controls="controls" src="videos/shopbuild.mov#t=0.1">
                Your browser does not support the HTML5 Video element.
                </video>
                <p class="mb-5 mx-4">Studio prep.<br>Laying carpet with Tamamacita and getting by with a little help from my friends.</p>
        </section>
        <a class="btn btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-3 mb-4 mx-2"  href="/mixedmedia">See all media</a>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var splide = new Splide('#era-carousel', {
            classes: {
                arrows: 'splide__arrows arrows',
                arrow: 'splide__arrow arrow',
                prev: 'splide__arrow--prev arrow_prev',
                next: 'splide__arrow--next arrow_next'
            },
            type   : 'loop'
        });
        var bar = splide.root.querySelector('.era-carousel-progress-bar');

        // Update the bar width:
        splide.on('mounted move', function () {
            var end = splide.Components.Controller.getEnd() + 1;
            bar.style.width = String(100 * (splide.index + 1) / end) + '%';
        });
        splide.mount();
    });
</script>
