<div class="row justify-content-md-center">
    <div class="col" style="font-size:1.4rem">
        <h4 class="sectionHeader text-center text-light" style="font-size:largest;padding:1rem;">La Bruja</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 p-3 text-light" style="font-size:1.4rem" >
        <h2>La Bruja</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue enim, egestas sit amet ullamcorper et, accumsan eget eros. Fusce sagittis, neque a ornare euismod, ligula tellus laoreet neque, nec posuere tortor ipsum ut magna. Nulla ac augue eget ex accumsan posuere et vel ligula. Phasellus ullamcorper a massa a suscipit. Vestibulum sed bibendum turpis. Nullam enim tellus, consectetur sit amet ultrices quis, aliquam sed magna. Curabitur scelerisque sem id magna accumsan, non mollis erat placerat.</p>
        <p>Phasellus malesuada commodo felis, ut dapibus nibh accumsan eget. Vivamus diam orci, pretium eu rutrum ut, bibendum quis sapien. Duis at blandit ex. Donec vehicula, tortor in aliquet iaculis, quam metus laoreet lacus, sed mattis odio mauris eu magna. Curabitur in rhoncus augue. Integer at est imperdiet, pharetra dolor lacinia, malesuada sem. Nam quis malesuada eros. Sed sed est ac nunc volutpat ultrices efficitur id nisi.
    </div>
</div>