<section clas="col-lg-8 col-md-10 ">
    <h1 class="display-4 ps-2 text-center" style="line-height: 1">
        F#ck Fast Fashion!
    </h1>
</section>

<div class="row">

    <div class="col-xs-12 col-lg-6 col-md-6 p-4">
        <p class="baja-font-larger">Unfortunately, the fashion industry is the second largest polluter in the WORLD.</p>
        <p class="baja-font-larger">With fresh water systems poisoned regularly, constant deforestation, excessive water usage and up to one garbage truck worth of textiles being burned or put into landfill EVERY SECOND!</p>
        <p class="baja-font-larger">Did I mention slave labour and the heinous working conditions? The children?</p>
        <p class="baja-font-larger">>We cannot afford to fuel this fatal fashion fire any longer. Most of us get dressed every day and what we dress ourselves in, speaks volumes.</p>
        <p class="baja-font-larger">Free yourself from perceived obsolescence and break the ‘Fashion Cycle.’ From uniform, all the way through to individual creative expression, our clothing is in conversation with those around us.</p>
        <p class="baja-font-larger">Style yourself sustainably, with originality.</p>
        <p class="baja-font-larger">You are making a statement with every item purchased. What do your threads say about you?</p>
    </div>

    <div class="col-xs-12  col-lg-5 col-md-6">
        <img src="images/fff2.jpg" class="img-fluid p-4">
        <img src="images/fff3.jpg" class="img-fluid p-4">
        <img src="images/fff1.jpg" class="img-fluid p-4">
        <img src="images/fff4.jpg" class="img-fluid p-4">
    </div>

</div>