<div class="row justify-content-md-center">
    <div class="col" style="font-size:1.4rem">
        <h4 class="sectionHeader text-center text-light" style="font-size:largest;padding:1rem;">F*#K FAST FASHION</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 p-3 text-light" style="font-size:1.4rem" >
        
        <p>Unfortunately, the fashion industry is the second largest polluter in the WORLD.</p>

        <p>With fresh water systems poisoned regularly, constant deforestation, excessive water
        usage and up to one garbage truck worth of textiles being burned or put into landfill EVERY SECOND!</p>

        <p>Did I mention slave labour and the heinous working conditions? The children?</p>

        <p>We cannot afford to fuel this fatal fashion fire any longer. Most of us get dressed every day and what we
        dress ourselves in, speaks volumes.</p>

        <p>Free yourself from perceived obsolescence and break the ‘Fashion Cycle.’ From uniform, all the way
        through to individual creative expression, our clothing is in conversation with those around us.</p>

        <p>Style yourself sustainably, with originality.</p>

        <p>You are making a statement with every item purchased.
        What do your threads say about you?
        </p>
    </div>
    <div class="col-md-6 p-3 text-light">
        <img src="images/fff1.jpg" style="max-width:575px;padding-bottom:1rem;">
        <img src="images/fff2.jpg" style="max-width:575px;padding-bottom:1rem;">
        <img src="images/fff3.jpg" style="max-width:575px;padding-bottom:1rem;">
        <img src="images/fff4.jpg" style="max-width:575px;padding-bottom:1rem;">
    </div>    
</div>