


<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

<div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm4.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
<div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm5.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm6.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm7.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm8.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm9.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm10.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm11.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm12.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm13.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm14.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/images/mixedmedia/mm15.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/images/mixedmedia/mm16.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->