<div class="container">
    <div class="row justify-content-md-center">
        <div class="col" style="font-size:1.4rem">
            <h4 class="sectionHeader text-center text-light" style="font-size:largest;padding:1rem;">Mixed Media</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-3 text-light" style="font-size:1.4rem">
            <img src="/images/mixedmedia/hero.jpeg" style="height: 35rem;  " />
            <p>Baja's philosophy focuses on simple lines and perfect proportions, enriched by precious materials,
                refined finishes, and elegant textiles.</p>
            <p>Baja's distinctive style incorporates a harmonious combination of different inspirations and design codes
                to form a sophisticated atmosphere. I hope you like my collections, below are a collection of media
                showing how baja came together!</p>
        </div>
    </div>
    <hr />
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm1.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Concept design in action!</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm2.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Fitting a Baja dress for a film shoot
                </figcaption>
            </figure>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm3.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Modeling a Baja dress</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm4.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Noir style look..</figcaption>
            </figure>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm5.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Building out the shop - rack space
                </figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm6.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Fitting a Baja dress for a film shoot
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm7.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Photo shot - concept design..</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm8.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Mannequin of one of my fave dresses..
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm9.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Lady in red..</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm10.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Building out the shop - what will go here?!
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm11.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Horsing around!</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm12.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Redesigned changing room - cleaned up!
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm13.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Tags! Tags! Tags!</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm14.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Tags! Tags! Tags!</figcaption>
            </figure>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="figure pb-4">
                <img src="/images/mixedmedia/mm15.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Restoring the changing room..</figcaption>
            </figure>
            <figure class="figure pb-2">
                <img src="/images/mixedmedia/mm16.jpg" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-center text-light">Sneak preview of the new shop!</figcaption>
            </figure>
        </div>
    </div>
    <!-- Gallery -->
</div>