<div class="row justify-content-md-center">
    <div class="col" style="font-size:1.4rem">
        <h4 class="sectionHeader text-center text-light" style="font-size:largest;padding:1rem;">Mixed Media</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 p-3 text-light" style="font-size:1.4rem" >
        <h2>Mixed Media</h2>
        <p>Baja is more than just fashion. We are a lifestyle. </p>
        <p>Please check out my media below, showing where some of my ideas inspired from and some of the efforts of the shop!</p>
    </div>
</div>