<style>
    .box{
        display: none;
        margin-top: 1.5rem;
    }
</style>

<script>
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
</script>

<div class="container nopadding">
    <section clas="col-lg-8 col-md-10 ">
        <h1 class="display-4 ps-2 text-center" style="line-height: 1">
            Check-out 
        </h1>
    </section>
    <div class="row ps-4 col-md-6">
        <form method="POST" action="/order/checkout-options?_method=POST" id="cart1" enctype="application/x-www-form-urlencoded">
            <h2 class="mb-4 mt-3 border-bottom">Your Details</h2>
            <div class="mb-4">
                <label class="form-label" for="inputEmail">Email</label>
                <input type="email" class="form-control" name="inputEmail" placeholder="Email Address" required>
            </div>
            <div class="mb-4">
                <label class="form-label" for="inputFirstName">First Name</label>
                <input type="text" class="form-control" name="inputFirstName" placeholder="First Name" required>
            </div>
            <div class="mb-4">
                <label class="form-label" for="inputLastName">Last Name</label>
                <input type="text" class="form-control" name="inputLastName" placeholder="Last Name" required>
            </div>
            <div class="mb-4">
                <label class="form-label" for="inputMobilePhone">Mobile Phone</label>
                <input type="text" class="form-control" name="inputMobilePhone" placeholder="Mobile Phone">
            </div>

            <h2 class="mb-4 mt-5 border-bottom">Shipping Address</h2>            
            {{> address addressType="shipping"}}

            <h2 class="mb-4 mt-5 border-bottom">Billing Address</h2>
            <div id="billing">
                <div>
                    <label><input type="radio" name="isBilling" value="isBillingYes" checked="checked"> Default (Same as Shipping Address)</label><br>
                    <label><input type="radio" name="isBilling" value="isBillingNo"> Add Billing Address</label>
                </div>
                <div class="isBillingYes box"><i class="fas fa-check-square"></i>Use Shipping Address</div>
                <div class="isBillingNo box">{{> address addressType="billing"}}</div>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-5">Proceed To Options</button>
        </form>
    </div>
</div>