{{#if viewable }}
<div class="container nopadding ">
    <section clas="col-lg-8 col-md-10 ">
        <h2 class="pt-4 ps-3 pb-1">Thank you!</h2>
    </section>
    <div class="row ps-3">
        <p class="baja-font-larger">Your payment was processed successfully and your order is now complete! 
        <p class="baja-font-larger">Your receipt has been sent to the email address you provided. A shipping notification will be sent to you shortly.</>
        <p class="mb-5 baja-font-larger">Your order number is: <span class="display-6">{{orderNumber}}</span></p>
    </div>
</div>

<a class="ms-1 mb-5 btn btn-primary btn-light btn-block col-5 col-sm-4 col-md-3 col-lg-2" href="/">Back to Home!</a>
 {{/if}}