<h3>Collections</h3>

{{# each collections }}
    <div class="row justify-content-md-center">
        {{# each this}}
            <div class="col-xs-3 col-lg-2">
                <a href="#">
                <div class="card">
                    <img class="card-img-top" src="images/collections/{{ this.image }}" alt="Card image top">
                    <div class="card-body">
                        <div class="price text-center">{{ this.collectionName }}</div>
                    </div>
                </div>
                </a>
            </div>

        {{/each}}
    </div>
{{/each}}
