<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Collection</li>
  </ol>
</nav>

<h3 class="text-center" style="padding: 0 0rem 1rem 0;">Collections</h3>
{{# each collections }}
    <div class="row justify-content-md-center">
        {{# each this}}
            <div class="col-xs-3 col-lg-2 blockSpace4">
                <a href="/products?collectionId={{this.collectionId}}" style="text-decoration: none;">
                <div class="card" style="text-decoration: none;">
                    <img class="card-img-top" src="images/collections/{{ this.image }}" alt="{{ this.collectionName }}">
                    <div class="card-body">
                        <div class="price text-center">{{ this.collectionName }}</div>
                    </div>
                </div>
                </a>
            </div>
        {{/each}}
    </div>
{{/each}}
