<h4 class="sectionHeader text-center text-light" style="padding: 1rem 0rem 2rem 0;">Contact Us</h4>
  <div class="row text-light">
    <div class="col-md-6" style="padding:1.5rem; padding-right:10rem;">
        <h2>How to Find Us</h2>
        <blockquote style="padding-bottom: 1.8rem;">If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit our design studio featured inside the magical chalet.</blockquote>

        <h4>Headquarters</h4>
        <blockquote style="padding-bottom: 1.8rem">
            The Chalet<br>
            Approx. 4kms Nort of Box Hill <br>
            <br>
            Telephone: +61 3 849-0000<br>
            E-mail: support@bajalabruja.com<br>
        </blockquote>

        <h4>Support Center</h4>
        <blockquote>
            9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45<br>
            <br>
            Telephone: +1 800 000 000<br>
            E-mail: mail@bajalabruja.com<br>
        </blockquote>
    </div>
    <div class="col-md-6">
        <h2>Get in Touch</h2>

<form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform form-modern offset-top-30">
                <div class="range">
                  <div class="cell-sm-6">
                    <div class="form-group">
                      <input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control">
                      <label for="contact-name" class="form-label">Name</label>
                    </div>
                  </div>
                  <div class="cell-sm-6 offset-top-30 offset-sm-top-0">
                    <div class="form-group">
                      <input id="contact-us-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                      <label for="contact-us-email" class="form-label">Email</label>
                    </div>
                  </div>
                  <div class="cell-xs-12 offset-top-30">
                    <div class="form-group">
                      <div class="textarea-lined-wrap">
                        <textarea id="contact-message" name="message" data-constraints="@Required" class="form-control"></textarea>
                        <label for="contact-message" class="form-label">Message</label>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xs-8 offset-top-30 offset-xs-top-30 offset-sm-top-60">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                  </div>
                </div>
              </form>
    </div>
  </div>
