{{!-- <div  class="row full-width">
  <div class="col full-width">
    <h3 class="overlay">Relive the revival of vintage; without the fast fashion.</h3>
    <img src="images/hero.jpg" style="width: 100%;"  />
  </div>
</div> --}}


<div class="row full-width">
    <div class="text-center full-width">
        {{!-- <img src="images/hero.jpg" alt="" class="img-responsive" style="width: 100%;"> --}}
        <img src="images/hero.jpg" class="img-responsive" style="width: 100%;"  />
        <div class="caption">
            <h3 class="heroText">Experience revival; without the fast fashion.</h3>
        </div>
    </div>
</div>