<div class="row">
  <div class="col-lg-6">
    <img src="images/hero.jpg" style="width:95%;"  />
  </div>
  <div class="col-lg-6">
    <h3>Clothes mean nothing unless you live inside them...</h3>
    <p>Inspired from the depths of the most remote location on the planet - the Australian outback... </p>
    <button type="button" class="btn btn-primary">SHOP NOW</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6">
    <h3>Our Style is a way to say who you are without having to speak</h3>
    <p>Drawn from ancient cultures dwelling within Arnhem Land, Kakadu and the Katherine Gorge, view an experience unlike anything you've ever seen..</p>
  </div>
  <div class="col-lg-6">
    <img src="images/hero1.jpg"  style="width:98%;"  />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6">
    <h3>Our fashion is not to be known for a logo, but to be known for a silhouette.</h3>
    <p>The MLE journey is more about being yourself but also belonging to a part of something bigger.. </p>
  </div>
  <div class="col-lg-6">
    <img src="images/hero4.jpg" style="width:98%;"  />
  </div>
</div>