<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="images/img1.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">60's vibe</h3>
                <h4 class="card-subtitle">Reliving Freedom</h4>
                <p class="card-text">Clothing description here</p>
                <div class="price pull-left">$32</div>
                <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
            </div>
        </div>
    </div>
     <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="images/img2.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Sea Farer</h3>
                <h4 class="card-subtitle">Romance at sea</h4>
                <p class="card-text">Clothing description here</p>
                <div class="price pull-left">$144</div>
                <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
            </div>
        </div>
    </div>
     <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="images/img3.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Club Queen</h3>
                <h4 class="card-subtitle">Suave, Finesse, Glamour</h4>
                <p class="card-text">Clothing description here</p>
                <div class="price pull-left">$229</div>
                <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
            </div>
        </div>
    </div>
     <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="images/img4.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Intense Orange</h3>
                <h4 class="card-subtitle">Andy Warhol anyone?</h4>
                <p class="card-text">Clothing description here</p>
                <div class="price pull-left">$158</div>
                <a href="#" class="btn btn-success pull-right" role="button">Add To Cart</a>
            </div>
        </div>
    </div>
</div> 