
<div class="row">
  <div class="col-lg-6">
    <img src="images/hero.jpg"  style="width:90%;"  />
  </div>
  <div class="col-lg-6" style="height:200px;">
    <h3>Clothes mean nothing unless you live inside them...</h3>
    <p>Inspired from the depths of the most remote location on the planet - the Australian outback... </p>
    <button type="button" class="btn btn-primary">SHOP NOW</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6" style="height:200px;">
    <h3>Our Style is a way to say who you are without having to speak</h3>
    <p>Drawn from ancient cultures dwelling within Arnhem Land, Kakadu and the Katherine Gorge, view an experience unlike anything you've ever seen..</p>
  </div>
  <div class="col-lg-6">
    <img src="images/hero1.jpg"  style="width:90%;"  />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6" style="height:200px;">
    <h3>Our fashion is not to be known for a logo, but to be known for a silhouette.</h3>
    <p>The MLE journey is more about being yourself but also belonging to a part of something bigger.. </p>
  </div>
  <div class="col-lg-6">
    <img src="images/hero4.jpg" style="width:90%;"  />
  </div>
</div>



            {{!-- <div class="heroScreen">
                <img src="images/hero.jpg" style="width: 100%;"/>
                <div class="caption heroText">
                    <h3>Clothes mean nothing unless you live inside them...</h3>
                    <p>Inspired from the depths of the most remote location on the planet - the Australian outback... </p>
                    <button type="button" class="btn btn-primary">SHOP NOW</button>
                </div>
            </div>

            <hr>

            <div class="heroScreen">
                <img src="images/hero1.jpg" style="width: 100%;"/>
                <div class="caption heroText">
                    <h3>Our Style is a way to say who you are without having to speak</h3>
                    <p>Drawn from ancient cultures dwelling within Arnhem Land, Kakadu and the Katherine Gorge, view an experience unlike anything you've ever seen..</p>
                    <button type="button" class="btn btn-primary">SHOP NOW</button>
                </div>
            </div>

            <hr>

            <div class="heroScreen">
              <img src="images/hero3.jpg" style="width: 100%;"/>
              <div class="caption heroText">
                  <h3>Our fashion is not to be known for a logo, but to be known for a silhouette.</h3>
                  <p>The MLE journey is more about being yourself but also belonging to a part of something bigger.. </p>
                  <button type="button" class="btn btn-primary">SHOP NOW</button>
              </div>
          </div> --}}







            <!-- <div class="jumbotron"  style="margin-top:-20px;padding:0px;">
                                  <p style="margin-top:-200px;padding:0px;" class="carousel-caption">Clothes mean nothing unless you live inside them...</p>  
                                  <img src="assets/hero2.jpg" style="width: 100%;" />
                                    
                                    <h1>Discover the collection..</h1>
                                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                                </div>
                             -->

            <!-- <hr /> -->

            <!-- Swiper -->
            <!-- <h2>Check Please!<small class="text-muted">Did yoy say cabaret?</small></h2>
                         <div class="swiper-container mySwiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <img src="assets/fashion1.jpg" style="width: 100%;" />
                                <h3>
                                  Fancy display heading
                                  <small class="text-muted">With faded secondary text</small>
                                </h3>
                                <blockquote class="blockquote text-center">
                                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                              </div>
                              <div class="swiper-slide">
                                <img src="assets/fashion2.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="assets/fashion3.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="assets/fashion4.jpg" />
                        
                              </div>
                              <div class="swiper-slide">
                                <img src="assets/fashion5.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="assets/fashion6.jpg" />
                              </div>
                            </div>
                          </div>
                          <h2>Pretty In Pink!</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>80s Dream Queen</h2>
                           <div class="swiper-container mySwiper">
                              <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                  <img src="assets/fashion1.jpg" />
                                </div>
                                <div class="swiper-slide">
                                  <img src="assets/fashion2.jpg" />
                                </div>
                                <div class="swiper-slide">
                                  <img src="assets/fashion3.jpg" />
                                </div>
                                <div class="swiper-slide">
                                  <img src="assets/fashion4.jpg" />
                          
                                </div>
                                <div class="swiper-slide">
                                  <img src="assets/fashion5.jpg" />
                                </div>
                                <div class="swiper-slide">
                                  <img src="assets/fashion6.jpg" />
                                </div>
                              </div>
                            </div>
                            <h2>Are you y2Kray?</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>Baby Blues</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>J'adore Cottage Core</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>Femme Fatale!</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>That 70s though</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>90s like Nieve</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                           <h2>Little Black Dress</h2>
                          <div class="swiper-container mySwiper">
                             <div class="swiper-wrapper">
                               <div class="swiper-slide">
                                 <img src="assets/fashion1.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion2.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion3.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion4.jpg" />
                         
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion5.jpg" />
                               </div>
                               <div class="swiper-slide">
                                 <img src="assets/fashion6.jpg" />
                               </div>
                             </div>
                           </div>
                        
                       

            <!-- Footer -->
            

    