<div class="price text-center">{{ item.productName }}</div>
<div class="text-center">{{ item.description }}</div>
<div class="price text-center">Size: {{ item.size }}</div>
<div class="price text-center">${{ item.price }}</div>