    <div class="text-center  text-light" style="padding: 0 10rem 0 10rem;font-size:1.4rem" >
        <h3>F*#K FAST FASHION</h3>
        <p>Unfortunately, the fashion industry is the second largest polluter in the WORLD.</p>

        <p>With fresh water systems poisoned regularly, constant deforestation, excessive water
        usage and up to one garbage truck worth of textiles being burned or put into landfill EVERY SECOND!</p>

        <p>Did I mention slave labour and the heinous working conditions? The children?</p>

        <p>We cannot afford to fuel this fatal fashion fire any longer. Most of us get dressed every day and what we
        dress ourselves in, speaks volumes.</p>

        <p>Free yourself from perceived obsolescence and break the ‘Fashion Cycle.’ From uniform, all the way
        through to individual creative expression, our clothing is in conversation with those around us.</p>

        <p>Style yourself sustainably, with originality.</p>

        <p>You are making a statement with every item purchased.
        What do your threads say about you?
        </p>
    </div>